:root {

    --branco: #fff;
    --cinza-claro: #f6f6f6;
    --azul-claro: #2A7AE4;
    --cinza-escuro: #464646;
    --azul-cinza:  #EAF2FD;
    --preto: #000;
    --Raleway: 'Raleway' , sans-serif;

}

header{
    height: 115px;
    display: flex;
    margin-left: 3em;
    
}

main{
    height: 600px;
    background-color: var(--cinza-claro);
}